<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">
    <title>Smart Travel Bug</title>
</head>
<body>
    <header>
        <nav th:replace="layouts :: navbar"></nav>
        <div class="strapline-container">
            <h1 class="main-strapline">Smart Travel Bug</h1>
        </div>
    </header>
    <main role="main">
        <section>
            Hello d
        </section>

    </main>
    <footer th:replace="layouts :: mainfooter"> </footer>

</body>
</html>