<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:fragment ="header">
    <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/formatting.css}" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

</head>
    
        <nav th:fragment ="navbar" >
                <ul >
                    <li >
                        <a href="#">HOME</a>
                    </li>
                    <li >
                        <a href="#">DESTINATIONS</a>
                    </li>
                    <li >
                        <a href="#">ABOUT US</a>
                    </li>
                    <li >
                        <a href="#">MEDIA</a>
                    </li>
                    <li >
                        <a href="#">FAQ</a>
                    </li>
                    <li >
                        <a href="#">COVID-19</a>
                    </li>
                </ul>
        </nav>
        <footer class="contact-section" th:fragment ="mainfooter">
            <h3 class="contact-title">Contacts</h3>
            <div>
                <p class="email">info@smarttravelbug.com</p>
            </div>
        </footer>
    
</html>